.pagebox {
  padding: 20px 40px;
}

.titleP {
  font-size: 20px;
  color: rgba(31, 45, 61, 1);
}


.elMenu {
  margin-top: 10px;
}


.elTable {
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 20px 20px;
}

.tablename {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}

.tablename p:nth-child(1) {
  font-size: 18px;
  color: #1f2d3d;
}

.tablename span {
  font-size: 14px;
  color: #99a9bf;
}

.tablename img {
  margin-right: 10px;
}

.tabletitle {
  padding: 10px 20px 10px 20px;
  background: rgba(245, 247, 250, 1);
  border: 1px solid rgba(224, 230, 237, 1);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 20px;
  /* justify-content:space-between; */
}

.tatit3 {
  display: flex;
  margin: 0 20px 10px 0;
  /* min-width: 240px; */
}

.tatit2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}



.tatit3 p {
  /* min-width: 56px; */
  font-size: 14px;
  color: rgba(94, 109, 130, 1);
  min-width: 60px;
  line-height: 28px;
  margin-right: 12px;
}


.pagination {
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.elinput {
  width: 140px;
  /* margin: 0 15px; */
}
