.el-menu--horizontal>.el-submenu .el-submenu__title {
    height: 80px!important;
    line-height: 80px!important;
    padding: 0!important
}

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    border-bottom: none!important; 
}

.el-menu.el-menu--horizontal {
     border-bottom: none!important; 
}

.el-menu--collapse .el-menu .el-submenu, .el-menu--popup {
    min-width: 120px!important;
}

.el-menu--horizontal{

}